/CamaraAlerta/tmp/
.DS_Store
CamaraAlerta/.DS_Store
CamaraAlerta/public/build/
CamaraAlerta/public/e18bbf611f2a2e43afc071aa2f4e1512.ttf
CamaraAlerta/public/f4769f9bdb7466be65088239c12046d1.eot
CamaraAlerta/public/fa2772327f55d8198301fdb8bcfc8158.woff
CamaraAlerta/public/89889688147bd7575d6327160d64e760.svg
CamaraAlerta/public/448c34a56d699c29117adc64c43affeb.woff2

frontend/node_modules

CamaraAlerta/backend.iws
CamaraAlerta/backend.ipr
CamaraAlerta/.idea/
CamaraAlerta/public/app.js
