.sideMenu{
	background-color: white;
	height: 100%;
	width: 200px;
	border: 1px solid #CCC;
	border-top: none;
	position: fixed;
	top: 0;
	z-index:81;

	.sideMenuHeader{

		font-size: 12px;

		.sideMenuHeaderText{
			margin-left: 15px;
		}

		.perfilImage{
			width: 70px;
			height: 70px;
			border: 1px solid #ccc;
			border-radius: 50px;
			margin-left: 65px;
			margin-bottom:20px;
			margin-top: 25px;
		}

	}

	.sideMenuItensActive{
		margin-left:5px;
		margin-right: 5px;
		padding-left: 10px;
		padding-top:5px;
		padding-bottom:5px;
		border:1px solid #3DB2FF;
		border-radius: 5px;
		background-color: #3DB2FF;
		color:white;
	}

	.sideMenuItens{
		margin-left:5px;
		margin-right: 5px;
		padding-left: 10px;
		padding-top:5px;
		padding-bottom:5px;
		border:1px solid #3DB2FF;
		border-radius: 5px;

		&:hover{
			background-color: #3DB2FF;
			color:white;
			padding-top:5px;
			padding-bottom:5px;
			border-radius:5px;

			.sideMenuItensNumber{
				float: right;
				background-color: white;
				padding-right: 5px;
				border-radius: 3px;
				color: #3DB2FF;
				margin-right: 10px;
				padding-left: 5px;
				padding-bottom: 2px;
			}
		}

		.sideMenuItensNumber{
			float: right;
			background-color: #3DB2FF;
			padding-right: 5px;
			border-radius: 3px;
			color: white;
			margin-right: 10px;
			padding-left: 5px;
			padding-bottom: 2px;
		}
	}
}

.topMenu{
	width: 100%;
	height: 60px;
	background-color: white;
	border-bottom: 1px solid #ccc;
	position: fixed;
	z-index: 80;

	.topMenuImage{
		height: 60px;
		left:50%;
		position:fixed;
	}

	.logout{
		float: right;
		margin-right: 20px;
		font-size: 18px;
		margin-top:15px;
	}
}

.dashboardBody{
	height:100%;
	width: 100%;
	overflow-y: auto;
	position:fixed;
	background-color: #3DB2FF;
	.dashboardContainder{
		margin-left: 200px;
		margin-top:60px;
	}

	.dashboardWidgetList{
		background-color:white;
		border-radius:5px;
		min-height: 510px;
		box-shadow: 2px 3px 5px #444;
	}


	.dashboardWidgetTitle{
		padding-top:15px;
		padding-bottom:15px;
		text-align: center;
	}

	.dashboardWidget{
		background-color:white;
		border-radius:5px;
		height: 250px;	
		box-shadow: 2px 3px 5px #444;


		.solicitationNumbers{
			margin-top:40px;
		}
	}

	.solicitationNumber{
		font-size: 24px;
	}

	.solicitationSubtitle{
		font-size: 14px;
	}
}


.solicitationListItemBackground{
	background-color: white;
	border: 1px solid #3F51B5;
	color: black;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;

	&:hover{
		background-color: #3F51B5;
		border: 1px solid white;
		color: white;
	}
}
