.bold{
	font-weight: bold;
}

.marginLeft20{
	margin-left:20px;
}

.textAlignCenter{
	text-align: center;
}

.mui-textfield{
	padding-top:0px;
}

.paddingBottom0{
	padding-bottom:0px !important;
}

.marginTop10{
	margin-top:10px;
}

.marginTop15{
	margin-top:15px;
}

.linhaDivisoria{
	border-bottom:1px solid #CCC;
	margin-left:80px;
	margin-right:80px;
}

body{
	background-color: #3DB2FF;
}