.solicitationBackground{

		background-color:white;
		border-radius:5px;
		height: 570px;	
		box-shadow: 2px 3px 5px #444;
		margin-top:10px;
		margin-bottom:10px;

		.solicitationDescription{
			height: 200px;
			overflow-y: auto;
			border: 1px solid #ccc;
			padding: 10px;
			border-radius: 10px;
		}

		.contactButton{
			float: right;
		}

		.solicitationImage{
		    width: 100%;
    		margin-top: 30px;
		}

		.solicitationImageSecundary{
			width:100%;
			margin-top:10px;
		}
}