.solicitationBackground{

		background-color:white;
		border-radius:5px;
		height: 570px;	
		box-shadow: 2px 3px 5px #444;
		margin-top:10px;
		margin-bottom:10px;

		.solicitationDescription{
			height: 200px;
			overflow-y: auto;
			border: 1px solid #ccc;
			padding: 10px;
			border-radius: 10px;
			cursor: default;
		}

		.contactButton{
			float: right;
		}

		.solicitationImage{
		    width: 100%;
    		margin-top: 30px;
    		max-height: 200px;
		}

		.solicitationImageSecundary{
			width:100%;
			margin-top:10px;
			max-height: 100px;
		}

}

.solicitationModalTitle{
	text-align:center;
}

.solicitationModalTextArea{
	max-width: 100%;
    min-width: 100%;
    max-height: 300px;
}

.emptySolicitationLabel{
    text-align: center;
    top: 50%;
    position: relative;
    font-size: 25px;
}


.solicitationModalButtons{
	
	bottom: 0;
    position: absolute;
    width: 90%;

	.solicitationModalSendButton{
		float:right;
	}
}
